.btn{
    margin-right: 10px;
}
caption{
    text-align: center;
    color:#333;
    font-size: 22px;
    line-height: 2em;
}
.add-btn{
    margin: 30px auto 0;
}
.radio-info{
    text-indent: 10px;   
}

.gen-span{
    margin-right: 10px;
    cursor: pointer;
    font-weight: normal;
}